<div class="one-page">
    <header class="banner">
        <div id="locales">
            <%= locales %>
        </div>
        <div class="title">Mercurius ☿</div>
    </header>
    <div class="blank"></div>
    <main class="main">
        <!-- <%= render 'icon_links' %> -->
        <%= render 'icon_select' %>
        <%= form_tag courses_path, method: 'get', id: 'search-form', class: 'pure-form' do %>
            <div class="pure-g" id="searchbar">
                <div class="remote pure-u-md-3-4 pure-u-1">
                    <%= text_field_tag 'search', nil, placeholder: t('search_default'), class: 'pure-input pure-input-1' %>
                </div>
                <div class="pure-u-md-1-4 pure-u-1">
                    <%= submit_tag t('search'), id: 'search-button', class:'pure-button pure-button-primary' %>
                </div>
            </div>
        <% end %>
    </main>
    <footer>
        <%= link_to t('lot_of_love', love: love, thing: thing), 'http://werthen.me' %>
    </footer>
</div>
