<div class="one-page">
    <div class="banner">
        <div class="title">Mercurius ☿</div>
    </div>
    <div class="blank"></div>
    <div class="main">
        <%= form_tag(courses_path, method: 'get', class: 'pure-form pure-g') do %>
        <div id="icon-links">
            <div class="icon-link">
                <%= link_to :courses do %>
                <%= fa_icon('book 4x', class: 'fa-fw') %>
                <% end %>
                <p class="link-description">
                    Courses
                </p>
            </div>
            <div class="icon-link">
                <%= link_to fa_icon('graduation-cap 4x', class: 'fa-fw') %>
                <p class="link-description">
                    Lecturers
                </p>
            </div>
            <div class="icon-link">
                <%= link_to fa_icon('pencil 4x', class: 'fa-fw') %>
                <p class="link-description">
                    Programmes
                </p>
            </div>
            <div class="icon-link">
                <%= link_to fa_icon('university 4x', class: 'fa-fw') %>
                <p class="link-description">
                    Faculties
                </p>
            </div>
        </div>
        <div class="pure-u-md-3-4 pure-u-1">
            <%= text_field_tag 'search', nil, placeholder: 'Search for a course', class: 'pure-input pure-input-1' %>
        </div>
        <div class="pure-u-md-1-4 pure-u-1">
            <%= submit_tag 'Search', id: 'search-button', class:'pure-button pure-button-primary' %>
        </div>
        <% end %>
    </div>
    <footer>
        <%= link_to "Made with a lot of #{love} by a #{thing}.", 'http://werthen.me' %>
    </footer>
</div>
