<h1><%= @course.name %></h1>

<%= link_to 'ECTS Fiche', @course.ects_url %>

<ul>
    <% @course.programmes.each do |programme| %>
    <li><%= link_to programme.name, programme %>
        <%= link_to "Op studiegids", programme.url %></li>
    <% end %>
</ul>

<%= link_to "Back", :back %>
