<!DOCTYPE html>
<html>
    <head>
        <title>Mercurius - Studiegids Next</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
          I18n.defaultLocale = "<%= I18n.default_locale %>";
          I18n.locale = "<%= I18n.locale %>";
        </script>
    </head>
    <body>
        <div class="nav">
            <%= link_to '☿', :root, class:" pure-menu-link nav-brand" %>
            <div class="nav-list-item">
                <%= link_to 'Courses', :courses, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to 'Programmes', :programmes, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to 'Faculties', :faculties, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to 'Lecturers', :lecturers, class: 'pure-menu-link' %>
            </div>
        </div>

        <%= yield %>

    </body>
</html>
