<!DOCTYPE html>
<html>
    <head>
        <title>Mercurius - Studiegids Next</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
        <script type="text/javascript">
          I18n.defaultLocale = "<%= I18n.default_locale %>";
          I18n.locale = "<%= I18n.locale %>";
        </script>
        <meta name="theme-color" content="#1E64C8">
    </head>
    <body>
        <div class="nav">
            <%= link_to :root, class:" pure-menu-link nav-brand" do %>
                <%= fa_icon :mercury %>
            <% end %>
            <div class="nav-list-item">
                <%= link_to t(:courses), :courses, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to t(:programmes), :programmes, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to t(:faculties), :faculties, class: 'pure-menu-link' %>
            </div>
            <div class="nav-list-item">
                <%= link_to t(:lecturers), :lecturers, class: 'pure-menu-link' %>
            </div>
        </div>

        <%= yield %>

    </body>
</html>
